{# These base includes bootstrap & jquery used by Quickstartup. #}
{# If you have plans to use other CSS & JS frameworks you can change it here. #}
{% extends "html5.html" %}{% load i18n %}{% load l10n %}{% load static %}


{% block styles %}
    <link rel="stylesheet" href="{% static "lib/bootstrap/css/bootstrap.css" %}">
{% endblock %}

{% block end_head %}
    <!--[if lt IE 9]>
      <script src="{% static "lib/respond/respond.min.js" %}"></script>
    <![endif]-->
{% endblock %}

{% block end_body %}
    <script src="{% static "lib/jquery/jquery.js" %}"></script>
    <script src="{% static "lib/bootstrap/js/bootstrap.js" %}"></script>
{% endblock %}
