{# This is the base HTML5 Structure for all website #}
{% load i18n %}{% load l10n %}{% load static %}<!DOCTYPE html>
{% block html_tag %}<html>{% endblock %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block responsive %}<meta name="viewport" content="width=device-width, initial-scale=1">{% endblock %}
    <title>{% block page_title %}{% endblock %}</title>
    {% block styles %}{% endblock %}
    <!--[if lt IE 9]>
    <script src="{% static "lib/html5shiv/html5shiv.min.js" %}"></script>
    <![endif]-->
    {% block end_head %}{% endblock %}
</head>
{% block body_tag %}<body>{% endblock %}
{% block html_body %}{% endblock %}
{% block end_body %}{% endblock %}
</body>
</html>
