/* Global */
body {
    padding-top: 10px;
}

label {
    text-transform: capitalize;
}

/* Content Pages */
.content {
    border: 1px solid #d4d4d4;
    background-color: #ffffff;
    padding: 10px 20px 20px 20px;
    border-radius: 5px;
    text-shadow: 0 1px 0 #fff;
    box-shadow: 0 0 20px rgba(0,0,0,.05);
}

.form-panel {
    border: 1px solid #e5e5e5;
    box-shadow: 0 0 40px rgba(0,0,0,.1);
    border-radius: 5px;
    padding: 20px 40px;
    margin: 30px;
}
