{% extends "app/project.html" %}{% load i18n %}{% load l10n %}{% load pages %}
{% load widget_tweaks %}


{% block content %}
    <h2>{% trans "Profile" %}</h2>
    {% if feedback.form %}
    <div class="alert alert-success">
        {{ feedback.form }}
    </div>
    {% endif %}
    <form action="" method="post" class="form-panel" role="form">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="alert alert-warning">
            <span class="help-block">{{ form.non_field_errors|join:", " }}</span>
        </div>
        {% endif %}

        {% for field in form %}
        <div class="form-group{% if field.errors %} has-error{% endif %}">

            <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
            {% render_field field class+="form-control" %}
            {% if field.errors %}<span class="help-block">{{ field.errors|join:", " }}</span>{% endif %}
        </div>
        {% endfor %}

        <h4>{% trans "Change password" %}</h4>
         {% if feedback.password_form %}
        <div class="alert alert-success">
            {{ feedback.password_form }}
        </div>
        {% endif %}
        {% if password_form.non_field_errors %}
        <div class="alert alert-warning">
            <span class="help-block">{{ password_form.non_field_errors|join:", " }}</span>
        </div>
        {% endif %}
        {% for field in password_form %}
        <div class="form-group{% if field.errors %} has-error{% endif %}">

            <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
            {% render_field field class+="form-control" %}
            {% if field.errors %}<span class="help-block">{{ field.errors|join:", " }}</span>{% endif %}
        </div>
        {% endfor %}

        <div class="form-group">
            <button class="btn btn-primary" type="submit">{% trans "Update" %}</button>
            <a class="btn btn-default" href="{% url "app-home" %}">{% trans "Back" %}</a>
        </div>
    </form>
{% endblock %}
