{% extends "website/project.html" %}{% load i18n %}{% load l10n %}{% load pages %}


{% block body_tag %}<body class="contact">{% endblock %}


{% block menu_contact %}<li class="active"><a href="{% url "contact" %}">{% trans "Contact" %}</a></li>{% endblock %}

{% block container %}
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <form action="" method="post" class="form-panel">
                {% csrf_token %}
                <h2>{% trans "Contact" %}</h2>

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}

                {% if form.non_field_errors %}
                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ form.non_field_errors|join:", " }}
                    </div>
                {% endif %}

                {{ form.anticaptcha }}
                {% if form.anticaptcha.errors %}
                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ form.anticaptcha.errors|join:", " }}
                    </div>
                {% endif %}

                {% with field=form.name %}
                    <div class="form-group{% if field.errors %} has-error{% endif %}">
                        <label class="control-label" for="{{ field.auto_id }}">{{ field.label|title }}</label>
                        {{ field }}
                        {% if field.errors %}<span class="help-block">{{ field.errors|join:", " }}</span>{% endif %}
                    </div>
                {% endwith %}

                {% with field=form.email %}
                    <div class="form-group{% if field.errors %} has-error{% endif %}">
                        <label class="control-label" for="{{ field.auto_id }}">{{ field.label|title }}</label>
                        {{ field }}
                        {% if field.errors %}<span class="help-block">{{ field.errors|join:", " }}</span>{% endif %}
                    </div>
                {% endwith %}

                {% with field=form.phone %}
                    <div class="form-group{% if field.errors %} has-error{% endif %}">
                        <label class="control-label" for="{{ field.auto_id }}">{{ field.label|title }}</label>
                        {{ field }}
                        {% if field.errors %}<span class="help-block">{{ field.errors|join:", " }}</span>{% endif %}
                    </div>
                {% endwith %}

                {% with field=form.message %}
                    <div class="form-group{% if field.errors %} has-error{% endif %}">
                        <label class="control-label" for="{{ field.auto_id }}">{{ field.label|title }}</label>
                        {{ field }}
                        {% if field.errors %}<span class="help-block">{{ field.errors|join:", " }}</span>{% endif %}
                    </div>
                {% endwith %}

                <div class="form-group">
                    <button class="btn btn-primary" type="submit">{% trans "Send" %}</button>
                    <a class="btn btn-default" href="{% url "homepage" %}">{% trans "Back" %}</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block end_body %}
{{ form.media }}
{% endblock end_body %}