{% extends "mails/project.html" %}{% load i18n l10n pages staticfiles %}


{% block title %}{% trans "Password Reset" %}{% endblock %}


{% block content %}
    <h3>Hi,</h3>

    <p class="lead">{% blocktrans %}
        You're receiving this email because you requested a password reset for your user account
        at {{ PROJECT_NAME }}
    {% endblocktrans %}</p>

    <p class="callout">
        {% trans "To reset your password" %}
        <a href="{{ protocol }}://{{ PROJECT_DOMAIN }}{% url "qs_accounts:password_reset_confirm" uidb64=uid token=token %}">
            {% trans "click here" %}
        </a>
    </p>

    <p>{% trans "Or you can copy & paste the following link in your browser address bar:" %}
        <a href="{{ protocol }}://{{ PROJECT_DOMAIN }}{% url "qs_accounts:password_reset_confirm" uidb64=uid token=token %}">
            {{ protocol }}://{{ PROJECT_DOMAIN }}{% url "qs_accounts:password_reset_confirm" uidb64=uid token=token %}
        </a>
    </p>

    <p>{% trans "If you did not request this change ignore this email." %}</p>
{% endblock %}
