{% extends "base.html" %}{% load i18n %}{% load l10n %}{% load pages %}


{% block styles %}{{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}website/base.css">
{% endblock %}


{% block end_body %}{{ block.super }}
    <script src="{{ STATIC_URL }}website/base.js"></script>
{% endblock %}


{% block page_title %}
    {% if title %}{{ title }} — {{ PROJECT_NAME }}{% else %}{{ PROJECT_NAME }}{% endif %}
{% endblock %}


{% block body_tag %}<body>{% endblock %}


{% block html_body %}
<div id="wrap">
    {% block navbar %}
    <div class="container">
        <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% block brand %}{% endblock %}
            </div> <!-- .navbar-header -->
            {% block navbar_menu %}
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% block navbar_options %}{% endblock %}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% block navbar_right_options %}{% endblock %}
                    {% block menu_signin %}<li><a href="{% url "signin" %}">{% trans "Sign in" %}</a></li>{% endblock %}
                    {% block menu_signup %}<li><a href="{% url "signup" %}">{% trans "Sign up" %}</a></li>{% endblock %}
                    {% block menu_contact %}<li><a href="{% url "contact" %}">{% trans "Contact" %}</a></li>{% endblock %}
                </ul>
            </div> <!-- .navbar-collapse -->
            {% endblock %}
        </div> <!-- .navbar-default -->
    </div> <!-- container -->
    {% endblock %}

    {% block container %}{% endblock %}

</div> <!-- #wrap -->

{% block footer %}
    <footer><div id="footer" role="footer">
        <div class="container">
            <hr>
            {% block footer_content %}{% endblock %}
        </div>
    </div></footer>
{% endblock footer %}

{% endblock %}
