{% extends "website/project.html" %}{% load i18n %}{% load l10n %}{% load pages %}


{% block menu_signin %}<li class="active"><a href="{% url "signin" %}">{% trans "Sign in" %}</a></li>{% endblock %}


{% block container %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <form action="" method="post" class="form-panel" role="form">
                    {% csrf_token %}
                        <h2>{% trans "Reset password" %}</h2>

                        <p>{%  trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

                        {% if form.non_field_errors %}
                        <div class="alert alert-error">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ form.non_field_errors|join:", " }}
                        </div>
                        {% endif %}

                        {% with field=form.email %}
                            <div class="form-group{% if field.errors %} has-error{% endif %}">
                                <label class="control-label" for="id_username">{{ field.label }}</label>
                                {{ field }}
                                {% if field.errors %}<span class="help-block">{{ field.errors|join:", " }}</span>{% endif %}
                            </div>
                        {% endwith %}

                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">{% trans "Reset" %}</button>
                            <a class="btn btn-default" href="{% url "signin" %}" class="btn">{% trans "Back" %}</a>
                        </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
