{% extends "website/project.html" %}{% load i18n %}{% load l10n %}{% load pages %}

{% block body_tag %}<body class="signin">{% endblock %}

{% block menu_signin %}<li class="active"><a href="{% url "signin" %}">{% trans "Sign in" %}</a></li>{% endblock %}


{% block container %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <form action="" method="post" class="login-panel" role="form">
                    {% csrf_token %}
                    <h2>{% trans "Please sign in" %}</h2>

                    {% if form.non_field_errors %}
                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ form.non_field_errors|join:", " }}
                    </div>
                    {% endif %}

                    {% with field=form.username %}
                    <div class="form-group{% if field.errors %} has-error{% endif %}">
                        <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}<span class="help-block">{{ field.errors|join:", " }}</span>{% endif %}
                    </div>
                    {% endwith %}

                    {% with field=form.password %}
                        <div class="form-group{% if field.errors %} has-error{% endif %}">
                            <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                            <a href="{% url "password-reset" %}">{% trans "(forgot password)" %}</a>
                            {{ field }}
                            {% if field.errors %}<span class="help-block">{{ field.errors|join:", " }}</span>{% endif %}
                        </div>
                    {% endwith %}

                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">{% trans "Sign in" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
