{% extends "accounts/base_profile.html" %}{% load i18n l10n pages widget_tweaks %}

{% block tab_profile_security %}
    <li class="active"><a href="{% url 'qs_accounts:profile-security' %}">{% trans 'Security' %}</a></li>{% endblock %}

{% block profile_content %}
    {% include "_includes/form_errors.html" %}

    <h2>{% trans "Security" %}</h2>

    <div class="panel panel-default">
        <div class="panel-body">

            <form action="{% url 'qs_accounts:profile-security' %}" method="post" class="form-panel" role="form">
                {% csrf_token %}
                {% include "_includes/field.html" with field=form.old_password|attr:"autofocus" %}
                {% include "_includes/field.html" with field=form.new_password1 %}
                {% include "_includes/field.html" with field=form.new_password2 %}
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">{% trans "Update" %}</button>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
