{% extends "mails/project.html" %}{% load i18n l10n pages staticfiles %}

{% block title %}{% blocktrans with site_name=site.name %}Activate your account{% endblocktrans %}{% endblock %}

{% block content %}
    {% if user.name %}
    <h3>{% trans "Hi " %}{{ user.name }},</h3>
    {% else %}
    <h3>{% trans "Hi," %}</h3>
    {% endif %}

    <p class="lead">
{% blocktrans with site_name=site.name %}You (or someone pretending to be you) have asked to register an account at {{ site_name }}.
If this wasn't you, please ignore this email and your address will be removed from our records.{% endblocktrans %}
    </p>

    <p class="lead">
    {% blocktrans %}You need to activate your account within the next {{ expiration_days }} days.{% endblocktrans %}
    </p>

    <p class="callout">
        {% trans "To activate your account" %}
        <a href="http://{{site.domain}}{% url 'qs_accounts:activate' activation_key %}">{% trans "click here" %}</a>
    </p>

    <p class="lead">
{% blocktrans with site_name=site.name %}Thanks,<br>
The {{ site_name }} team{% endblocktrans %}
    </p>

{% endblock %}
