{% extends "mails/project.html" %}{% load i18n l10n pages staticfiles %}


{% block title %}{% trans "Password Reset" %}{% endblock %}


{% block content %}
    {% if user.name %}
    <h3>{% trans "Hi " %}{{ user.name }},</h3>
    {% else %}
    <h3>{% trans "Hi," %}</h3>
    {% endif %}

    <p class="lead">
{% blocktrans with site_name=site.name%}You're receiving this email because you
requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}
    </p>

    <p class="callout">
        {% trans "To reset your password" %}
        <a href="http://{{ site.domain }}{{ path }}">{% trans "click here" %}</a>
    </p>

    <p>{% trans "Or you can copy & paste the following link in your browser address bar:" %}
        <a href="http://{{ site.domain }}{{ path }}">http://{{ site.domain }}{{ path }}</a>
    </p>

    <p>{% trans "If you did not request this change ignore this email." %}</p>

    <p>
{% blocktrans with site_name=site.name %}Thanks,<br>
The {{ site_name }} team{% endblocktrans %}
    </p>

{% endblock %}
