{% extends "website.html" %}{% load i18n l10n pages widget_tweaks %}


{% block body_tag %}<body class="signup">{% endblock %}

{% block menu_signup %}<li class="active"><a href="{% url "qs_accounts:signup" %}">{% trans "Sign up" %}</a></li>{% endblock %}


{% block container %}
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <form action="" method="post" class="form-panel" role="form">
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
