{% extends "apps.html" %}{% load i18n get_social_backends %}

{% block content %}
    {% get_social_backends as social_backends %}

    <ul class="nav nav-tabs">
        {% block tab_profile_main %}<li><a href="{% url 'qs_accounts:profile' %}">{% trans "Profile" %}</a></li>{% endblock %}
        {% block tab_profile_security %}<li><a href="{% url 'qs_accounts:profile-security' %}">{% trans 'Security' %}</a></li>{% endblock %}
        {% if social_backends %}
        {% block tab_profile_social %}<li><a href="{% url 'qs_accounts:profile-social' %}">{% trans 'Social' %}</a></li>{% endblock %}
        {% endif %}
    </ul>

    {% block profile_content %}{% endblock %}
{% endblock %}
