{% extends "accounts/base_profile.html" %}{% load i18n l10n pages widget_tweaks %}

{% block tab_profile_main %}
    <li class="active"><a href="{% url 'qs_accounts:profile' %}">{% trans "Profile" %}</a></li>{% endblock %}

{% block profile_content %}

    {% include "_includes/form_errors.html" %}

    <h2>{% trans "Profile Informations" %}</h2>

    <div class="panel panel-default">
        <div class="panel-body">

            <form action="{% url 'qs_accounts:profile' %}" method="post" class="form-panel" role="form">
                {% csrf_token %}
                {% include "_includes/field.html" with field=form.name|attr:"autofocus" %}
                {% include "_includes/field.html" with field=form.email %}
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">{% trans "Update" %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
