{% extends "accounts/base_profile.html" %}{% load i18n l10n pages widget_tweaks get_social_backends %}

{% block content %}

    {% include "_includes/message_panels.html" %}
    {% include "_includes/form_errors.html" %}

    <h1>{% trans "Social" %}</h1>
    {% if not request.user.social_auth.exists %}
    <p>{% trans "There are no social accounts associated with you." %}</p>
    {% else %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>{% trans 'Provider' %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% get_social_backends as social_auth_backends %}
        {% for social_account_name, _ in social_auth_backends.items %}
        <tr>
            <td>{{ social_account_name }}</td>
            <td>
                <form method="post" action="">
                    {% csrf_token %}
                    {% if social_account_name in backends.not_associated %}
                    <button type="submit" class="btn btn-success">{% trans 'Connect' %}</button>
                    {% else %}
                    <button type="submit" class="btn btn-primary disabled">{% trans 'Connected' %}</button>
                    {% endif %}
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}
