{% extends "accounts/base_profile.html" %}{% load i18n l10n pages widget_tweaks get_social_backends %}

{% block tab_profile_social %}
    <li class="active"><a href="{% url 'qs_accounts:profile-social' %}">{% trans 'Social' %}</a></li>{% endblock %}

{% block profile_content %}
    {% get_social_backends as social_auth_backends %}

    <h2>{% trans "Social" %}</h2>

    <div class="panel panel-default">
        <div class="panel-heading">{% trans "Social Networks" %}</div>

        <table class="table">
            <tbody>
            {% for social_account_name, _ in social_auth_backends.items %}
                <tr>
                    <td>{{ social_account_name|capfirst }}</td>
                    <td>
                        {% if social_account_name in backends.not_associated %}
                            {% url 'qs_accounts:profile-social' as next_url %}
                            <a class="btn btn-success btn-xs" role="button"
                               href="{% url 'social:begin' social_account_name %}?next={{ next_url }}">{% trans 'Connect' %}</a>
                        {% else %}
                            <span class="btn btn-primary btn-xs disabled">{% trans 'Connected' %}</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
{% endblock %}
