{% extends "pages.html" %}{% load i18n l10n pages widget_tweaks get_social_backends %}


{% block body_tag %}<body class="signup">{% endblock %}

{% block menu_signup %}<li class="active"><a href="{% url "qs_accounts:signup" %}">{% trans "Sign up" %}</a></li>{% endblock %}


{% block container %}
{% include "_includes/message_panels.html"  with messages=error_messages %}
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <form action="" method="post" class="form-panel" role="form">
                {% csrf_token %}
                <h2>{% trans "Signup for an account" %}</h2>

                {% if form.non_field_errors %}
                    <div class="alert alert-warning">
                        <span class="help-block">{{ form.non_field_errors|join:", " }}</span>
                    </div>
                {% endif %}

                {% include "_includes/field.html" with field=form.name|attr:"autofocus" %}
                {% include "_includes/field.html" with field=form.email %}
                {% include "_includes/field_password.html" with field=form.password1 %}
                {% include "_includes/field_password.html" with field=form.password2 %}

                <div class="form-group">
                    <button class="btn btn-primary" type="submit">{% trans "Sign up" %}</button>
                </div>

                {% get_social_backends as social_auth_backends %}
                {% if social_auth_backends %}
                    {% trans "Sign up with" as verb %}
                    {% include "_includes/social_options.html" with verb=verb %}
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
