{% extends "website/page.html" %}{% load i18n %}{% load l10n %}{% load pages %}

{% block page_title %}{% trans "Privacy Policy" %} — {{ block.super }}{% endblock page_title %}

{% block container %}
<div class="container">
  <div class="row-fluid">
    <div class="offset1 span10">
      <div class="content">
        <h1>{% trans "Privacy Policy" %}</h1>
        <p><a href="https://termsfeed.com/">{% trans "Create your Privacy Policy here" %}</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
