{% extends "app/base.html" %}{% load i18n %}{% load l10n %}{% load pages %}


{% block brand %}<a class="navbar-brand" href="{% url "app-home" %}">{{ PROJECT_NAME }}</a>{% endblock %}


{% block container %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            {% block sidebar %}
            <div class="sidebar-nav list-group">
                {% block sidebar_home %}<a class="list-group-item" href="{% url "app-home" %}">{% trans "Home" %}</a>{% endblock %}
            </div>
            {% endblock %}
        </div>

        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock container %}


{% block footer_content %}
    <p class="pull-left">
        &copy; {{ PROJECT_NAME }}
    </p>
    <p class="pull-right">
        <a href="{% page_url "privacy" %}">{% trans "Privacy" %}</a> |
        <a href="{% page_url "terms" %}">{% trans "Terms" %}</a>
    </p>
{% endblock footer_content %}
