{% extends "app/project.html" %}{% load i18n %}{% load l10n %}{% load pages %}


{% block sidebar_dashboard %}<li class="active"><a href="#">{% trans "Dashboard" %}</a></li>{% endblock %}


{% block content %}
    <h1>{% trans "Dashboard" %}</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias beatae commodi dolorum eius est? Alias laboriosam possimus quas quasi? Dicta dignissimos doloribus earum est inventore provident quasi saepe? Exercitationem, ipsam.</p>
{% endblock %}
